$color-span: #2196f3;
$color-subtitle: #212121;
$color-text: #757575;
$color-title: #ffffff;
$color-number: #ffffff99;
$color-bg: #188ce8;
$color-header: #000000;
$color-footer: #2f303a;
$color-people: #f5f4fa;
$color-clientsvg: #afb1b8;
$color-border: #eee;